{:paths   ["src" "resources"]

 :deps    {org.clojure/clojure                      {:mvn/version "1.11.1"}
           org.clojure/core.async                   {:mvn/version "1.6.673"}
           org.clojure/core.match                   {:mvn/version "1.0.1"}
           org.clojure/data.xml                     {:mvn/version "0.2.0-alpha8"}
           org.clojure/data.zip                     {:mvn/version "1.0.0"}
           org.clojure/tools.logging                {:mvn/version "1.2.4"}
           com.eldrix/hermes-api                    {:mvn/version "1.0.16"}
           com.eldrix/trud                          {:mvn/version "1.0.87"}
           instaparse/instaparse                    {:mvn/version "1.4.12"}
           io.netty/netty-buffer                    {:mvn/version "4.1.90.Final"}
           org.apache.lucene/lucene-core            {:mvn/version "9.5.0"}
           org.apache.lucene/lucene-queries         {:mvn/version "9.5.0"}
           org.apache.lucene/lucene-backward-codecs {:mvn/version "9.5.0"}
           org.lmdbjava/lmdbjava                    {:mvn/version "0.8.3"}}

 :aliases {:build
           {:deps       {io.github.clojure/tools.build          {:mvn/version "0.9.4"}
                         slipset/deps-deploy                    {:mvn/version "0.2.0"}
                         io.github.borkdude/gh-release-artifact {:git/sha "b946558225a7839f6a0f644834e838e190dc2262"}}
            :ns-default build}

           :run
           {:extra-paths ["cmd"]
            :extra-deps  {org.clojure/tools.cli          {:mvn/version "1.0.214"}
                          org.clojure/data.json          {:mvn/version "2.4.0"}
                          com.wsscode/pathom3            {:mvn/version "2023.01.31-alpha"}
                          expound/expound                {:mvn/version "0.9.0"}
                          ch.qos.logback/logback-classic {:mvn/version "1.4.6"}
                          io.pedestal/pedestal.service   {:mvn/version "0.5.10"}
                          io.pedestal/pedestal.jetty     {:mvn/version "0.5.10"}}
            :main-opts   ["-m" "com.eldrix.hermes.cmd.core"]}

           :dev
           {:extra-paths ["cmd" "test"]
            :extra-deps  {org.clojure/tools.cli            {:mvn/version "1.0.214"}
                          io.pedestal/pedestal.service     {:mvn/version "0.5.10"}
                          io.pedestal/pedestal.jetty       {:mvn/version "0.5.10"}
                          org.clojure/test.check           {:mvn/version "1.1.1"}
                          criterium/criterium              {:mvn/version "0.4.6"}
                          com.wsscode/pathom3              {:mvn/version "2023.01.31-alpha"}
                          com.wsscode/pathom-viz-connector {:mvn/version "2022.02.14"}
                          djblue/portal                    {:mvn/version "0.37.0"}}}

           :test
           {:extra-paths ["cmd" "test" "test/resources"]
            :extra-deps  {org.clojure/test.check         {:mvn/version "1.1.1"}

                          com.wsscode/pathom3            {:mvn/version "2023.01.31-alpha"}
                          com.cognitect/test-runner      {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha     "7284cda41fb9edc0f3bc6b6185cfb7138fc8a023"}
                          ch.qos.logback/logback-classic {:mvn/version "1.4.6"}
                          criterium/criterium            {:mvn/version "0.4.6"}}
            :main-opts   ["-m" "cognitect.test-runner"]
            :exec-fn     cognitect.test-runner.api/test}

           :test/cloverage
           {:extra-paths ["test"]
            :extra-deps  {cloverage/cloverage            {:mvn/version "1.2.4"}
                          ch.qos.logback/logback-classic {:mvn/version "1.4.6"}
                          org.clojure/test.check         {:mvn/version "1.1.1"}}
            :main-opts   ["-m" "cloverage.coverage" "-p" "src" "-s" "test"]
            :exec-fn     cloverage.coverage/run-project
            :exec-args   {:src-ns-path  ["src"]
                          :test-ns-path ["test"]}}

           :bench
           {:extra-paths ["cmd" "test" "test/resources"]
            :extra-deps  {org.clojure/test.check    {:mvn/version "1.1.1"}
                          com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                     :sha     "7284cda41fb9edc0f3bc6b6185cfb7138fc8a023"}
                          criterium/criterium       {:mvn/version "0.4.6"}
                          com.wsscode/pathom3       {:mvn/version "2023.01.31-alpha"}}
            :main-opts   ["-m" "cognitect.test-runner" "-r" ".*bench$"]
            :exec-fn     cognitect.test-runner.api/test
            :exec-args   {:patterns [".*-bench$"]}}

           :outdated
           {:extra-deps {com.github.liquidz/antq {:mvn/version "2.2.1011"}}
            :main-opts  ["-m" "antq.core"]}

           :upgrade
           {:extra-deps {com.github.liquidz/antq {:mvn/version "2.2.1011"}}
            :main-opts  ["-m" "antq.core" "--upgrade"]}

           :check
           {:extra-deps {athos/clj-check
                         {:git/url "https://github.com/athos/clj-check.git"
                          :sha     "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
            :main-opts  ["-m" "clj-check.check"]}

           :hiera
           {:deps      {io.github.greglook/clj-hiera {:git/tag "2.0.0", :git/sha "b14e514"}}
            :exec-fn   hiera.main/graph
            :exec-args {:cluster-depth 3}}

           :lint/kondo
           {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2023.02.17"}}
            :main-opts  ["-m" "clj-kondo.main" "--lint" "src"]}

           :lint/eastwood
           {:main-opts  ["-m" "eastwood.lint" {:source-paths ["src"]}]
            :extra-deps {jonase/eastwood {:mvn/version "1.3.0"}}}}}
