{:paths   ["src" "resources" "classes"]

 :deps    {org.clojure/clojure              {:mvn/version "1.10.3"}
           org.clojure/core.async           {:mvn/version "1.3.610"}
           org.clojure/data.csv             {:mvn/version "1.0.0"}
           org.clojure/data.xml             {:mvn/version "0.2.0-alpha6"}
           org.clojure/data.zip             {:mvn/version "1.0.0"}
           org.clojure/tools.cli            {:mvn/version "1.0.206"}
           org.clojure/tools.logging        {:mvn/version "1.1.0"}
           ch.qos.logback/logback-classic   {:mvn/version "1.2.3"}

           com.eldrix/trud                  {:git/url "https://github.com/wardle/trud.git"
                                             :sha     "e24261d0afcd65e07018224741e65f805d7934ca"}

           aero/aero                        {:mvn/version "1.1.6"}
           cheshire/cheshire                {:mvn/version "5.10.0"}
           expound/expound                  {:mvn/version "0.8.9"}
           instaparse/instaparse            {:mvn/version "1.4.10"}
           integrant/integrant              {:mvn/version "0.8.0"}

           io.netty/netty-buffer            {:mvn/version "4.1.60.Final"}

           org.apache.lucene/lucene-core    {:mvn/version "8.8.1"}
           org.apache.lucene/lucene-queries {:mvn/version "8.8.1"}

           org.mapdb/mapdb                  {:mvn/version "3.0.8"}

           io.pedestal/pedestal.service     {:mvn/version "0.5.8"}
           io.pedestal/pedestal.jetty       {:mvn/version "0.5.8"}}

 :aliases {:run
           {:main-opts ["-m" "com.eldrix.hermes.core"]}

           :socket
           {:jvm-opts ["-Dclojure.server.repl={:port,50505,:accept,clojure.core.server/repl}"]}

           :test
           {:extra-paths ["test" "test/resources"]
            :extra-deps  {com.cognitect/test-runner
                          {:git/url "https://github.com/cognitect-labs/test-runner.git"
                           :sha     "b6b3193fcc42659d7e46ecd1884a228993441182"}}
            :main-opts   ["-m" "cognitect.test-runner"
                          "-d" "test"]}

           :outdated
           {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
            :main-opts  ["-m" "antq.core"]}

           :check
           {:extra-deps {athos/clj-check
                         {:git/url "https://github.com/athos/clj-check.git"
                          :sha     "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
            :main-opts  ["-m" "clj-check.check"]}

           :test/cloverage
           {:extra-paths ["test"]
            :extra-deps  {cloverage/cloverage {:mvn/version "RELEASE"}}
            :main-opts   ["-m" "cloverage.coverage"
                          "--src-ns-path" "src"
                          "--test-ns-path" "test"]
            :exec-fn     cloverage.coverage/run-project
            :exec-args   {:src-ns-path  ["src"]
                          :test-ns-path ["test"]}}

           :lint/kondo
           {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
            :main-opts  ["-m" "clj-kondo.main" "--lint" "src"]}

           :lint/eastwood
           {:main-opts  ["-m" "eastwood.lint" {:source-paths ["src"]}]
            :extra-deps {jonase/eastwood {:mvn/version "RELEASE"}}}

           :jar
           {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.206"}}
            :exec-fn      hf.depstar/jar
            :exec-args    {:jar "target/hermes-lib.jar"}}

           :uberjar
           {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.206"}}
            :exec-fn      hf.depstar/uberjar
            :exec-args    {:jar        "target/hermes.jar"
                           :aot        true
                           :main-class "com.eldrix.hermes.core"}}}}
