{:paths   ["src" "resources"]

 :deps    {org.clojure/clojure                      {:mvn/version "1.10.3"}
           org.clojure/core.async                   {:mvn/version "1.5.648"}
           org.clojure/data.csv                     {:mvn/version "1.0.0"}
           org.clojure/data.xml                     {:mvn/version "0.2.0-alpha6"}
           org.clojure/data.zip                     {:mvn/version "1.0.0"}
           org.clojure/tools.logging                {:mvn/version "1.2.4"}

           com.eldrix/trud                          {:mvn/version "1.0.75"}

           com.wsscode/pathom3                      {:mvn/version "2022.03.07-alpha"}
           expound/expound                          {:mvn/version "0.9.0"}
           instaparse/instaparse                    {:mvn/version "1.4.10"}

           org.apache.lucene/lucene-core            {:mvn/version "9.0.0"}
           org.apache.lucene/lucene-queries         {:mvn/version "9.0.0"}
           org.apache.lucene/lucene-backward-codecs {:mvn/version "9.0.0"}

           org.mapdb/mapdb                          {:mvn/version "3.0.8"}}

 :aliases {
           :build {:deps       {io.github.clojure/tools.build {:git/tag "v0.8.1" :git/sha "7d40500"}
                                slipset/deps-deploy           {:mvn/version "RELEASE"}}
                   :ns-default build}

           :run
           {:extra-paths ["cmd"]
            :extra-deps  {org.clojure/tools.cli          {:mvn/version "1.0.206"}
                          org.clojure/data.json          {:mvn/version "2.4.0"}
                          ch.qos.logback/logback-classic {:mvn/version "1.2.11"}
                          io.pedestal/pedestal.service   {:mvn/version "0.5.10"}
                          io.pedestal/pedestal.jetty     {:mvn/version "0.5.10"}}
            :main-opts   ["-m" "com.eldrix.hermes.cmd.core"]}

           :dev
           {:extra-deps {org.clojure/test.check           {:mvn/version "1.1.1"}
                         criterium/criterium              {:mvn/version "0.4.6"}
                         com.wsscode/pathom-viz-connector {:mvn/version "2022.02.14"}
                         djblue/portal                    {:mvn/version "0.22.1"}}}

           :test
           {:extra-paths ["test" "test/resources"]
            :extra-deps  {org.clojure/test.check
                          {:mvn/version "1.1.1"}

                          com.cognitect/test-runner
                          {:git/url "https://github.com/cognitect-labs/test-runner.git"
                           :sha     "cc75980b43011773162b485f46f939dc5fba91e4"}}
            :main-opts   ["-m" "cognitect.test-runner"
                          "-d" "test"]}

           :outdated
           {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
            :main-opts  ["-m" "antq.core"]}

           :upgrade
           {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
            :main-opts  ["-m" "antq.core" "--upgrade"]}

           :check
           {:extra-deps {athos/clj-check
                         {:git/url "https://github.com/athos/clj-check.git"
                          :sha     "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
            :main-opts  ["-m" "clj-check.check"]}

           :test/cloverage
           {:extra-paths ["test"]
            :extra-deps  {cloverage/cloverage    {:mvn/version "RELEASE"}
                          org.clojure/test.check {:mvn/version "1.1.1"}}
            :exec-fn     cloverage.coverage/run-project
            :exec-args   {:src-ns-path  ["src"]
                          :test-ns-path ["test"]}}

           :lint/kondo
           {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
            :main-opts  ["-m" "clj-kondo.main" "--lint" "src"]}

           :lint/eastwood
           {:main-opts  ["-m" "eastwood.lint" {:source-paths ["src" "cmd"]}]
            :extra-deps {jonase/eastwood {:mvn/version "RELEASE"}}}}}
