{:lint-as {io.pedestal.interceptor.error/error-dispatch clj-kondo.lint-as/def-catch-all}

 :linters {:unsorted-required-namespaces {:level :warning}
           :invalid-arity                {:level :error}
           :missing-else-branch          {:level :warning}
           :shadowed-var                 {:level :warning}
           :unused-namespace             {:level   :warning
                                          :exclude []}
           :unused-value                 {:level :warning}
           :unused-referred-var          {:level   :warning
                                          :exclude {}}}}