{:lint-as {io.pedestal.interceptor.error/error-dispatch clj-kondo.lint-as/def-catch-all
           instaparse.core/defparser                      clojure.core/def}

 :hooks {:analyze-call {com.eldrix.hermes.impl.lmdb/with-txn    hooks.com.eldrix.hermes.impl.lmdb/with-txn
                        com.eldrix.hermes.impl.lmdb/with-cursor hooks.com.eldrix.hermes.impl.lmdb/with-cursor}}

 :linters {:unsorted-required-namespaces {:level :warning}
           :invalid-arity                {:level :error}
           :missing-else-branch          {:level :warning}
           :shadowed-var                 {:level :warning}
           :unused-namespace             {:level   :warning
                                          :exclude []}
           :unused-value                 {:level :warning}
           :unused-referred-var          {:level   :warning
                                          :exclude {}}}}