# Clojure CircleCI 2.0 configuration file
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: cimg/clojure:1.11.1

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      JVM_OPTS: -Xmx3200m

    steps:
      - checkout
      # This is important as otherwise a :git/url coordinate in your 
      # deps.edn fails.
      - run:
          name: Get rid of erroneous git config
          command: |
            rm -rf ~/.gitconfig
      
      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "deps.edn" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      # Adapt to aliases you need
      - run: clojure -P -M:test

      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "deps.edn" }}

      # run compilation checks
      - run: clojure -M:dev:check

      #  run tests
      - run: clojure -M:test -e :live
      