{:secrets     #include #join [#env HOME "/.secrets.edn"]
 :server      {:port 8080}
 :terminology {:path "snomed.db"}

 ;; integrant configuration
 :ig/system   {:http/server         {:port #ref [:server :port]
                                     :svc  #ig/ref :terminology/service}
               :terminology/service {:path #ref [:terminology :path]}}}