{:secrets   #include #join [#env HOME "/.secrets.edn"]

 ;; integrant configuration
 :ig/system {:http/server         {:port 8080
                                   :svc  #ig/ref :terminology/service}
             :terminology/service {:path "snomed.db"}}}