name: Test-uk-live

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: DeLaGuardo/setup-clojure@master
        with:
          cli: latest

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/deps.edn') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Install dependencies
        run: clojure -P -M:test

      - name: Compilation check
        run:  clojure -M:dev:check

      - name: Create TRUD cache directory
        run: mkdir trud

      - name: Write out TRUD API key from secrets
        run: echo ${{ secrets.TRUD_API_KEY }} >> api-key.txt

      - name: Install latest distributions for the UK
        run: clojure -M:run --db snomed.db install uk.nhs/sct-clinical --api-key api-key.txt --cache-dir trud

      - name: Remove downloaded files
        run: rm -rf trud

      - name: Index database
        run: clojure -M:run --db snomed.db index

      - name: Print status report
        run: clojure -M:run --db snomed.db status

      - name: Clojure tests
        run: clojure -M:test
